@model swimming.Models.Swimming

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Swimming</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PoolName" class="control-label"></label>
                <input asp-for="PoolName" class="form-control" />
                <span asp-validation-for="PoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolLength" class="control-label"></label>
                <input asp-for="PoolLength" class="form-control" />
                <span asp-validation-for="PoolLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolLocation" class="control-label"></label>
                <input asp-for="PoolLocation" class="form-control" />
                <span asp-validation-for="PoolLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolCapacity" class="control-label"></label>
                <input asp-for="PoolCapacity" class="form-control" />
                <span asp-validation-for="PoolCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolTimings" class="control-label"></label>
                <input asp-for="PoolTimings" class="form-control" />
                <span asp-validation-for="PoolTimings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolDays" class="control-label"></label>
                <input asp-for="PoolDays" class="form-control" />
                <span asp-validation-for="PoolDays" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="PoolSize" class="control-label"></label>
                <input asp-for="PoolSize" class="form-control" />
                <span asp-validation-for="PoolSize" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="EntryDeadline" class="control-label"></label>
                <input asp-for="EntryDeadline" class="form-control" />
                <span asp-validation-for="EntryDeadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
